<h2> Wishlist </h2>

{{#each items as |item|}}
  <table class="table table-reflow listTable" data-id={{id}}>
      <tbody>
          <tr>
            <th>Category</th>
              <td class='row'>{{category}}</td>
          </tr>
          <tr>
            <th>Name</th>
              <td class='row'>{{name}}</td>
              </tr>
          <tr>
            <th>Price</th>
              <td class='row'>{{price}}</td>
              </tr>
          <tr>
            <th>Url</th>
              <td class='row'>{{url}}</td>
              </tr>

              <!-- add comments -->
          <tr>
            <th>Comments</th>
            <!--  <td class='row'><input type="text" class="item-comment" name="item[description]" placeholder="enter comments here..."> -->
            <td class='row'>{{comment}}<button data-id={{id}} class="btn btn-link comment" data-toggle="modal"
              data-target="#addCommentModal">Add Comment</button></td>
          </tr>
          <tr>
            <td><button type="button" data-id={{id}} class="btn btn-danger btn-sm delete-list-item"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
      </tbody>
  </table>


{{/each}}


<br>
<br>
<div class="modal-footer">
  <button type="button" class="btn btn-default reset" data-dismiss="modal">Close</button>
  <p>&copy; 2017 Rick Coste Productions, Inc. </p>
</div>
